[2017-02-06 09:43] dharxx opened #1 "UITableViewController's tableView doesn't scroll while on SwipeableTabBarController"
Cannot scroll tableView of UITableViewController after implement SwipeableTabBarController
SwipeableTabBarController
      -> UINavigationController -> UITableViewController1
      -> UINavigationController -> UITableViewController2
Swipe is work but cant scroll tableView

[2017-02-06 10:30] dharxx commented on #1
Only happen with UITableViewController not UITableView in UIViewController

[2017-02-06 12:15] marcosgriselli commented on #1
Fixed on 1d137a7. Added new tag `1.0.3`

[2017-02-06 12:15] #1 closed, assigned to marcosgriselli

[2017-02-06 20:33] lfarah opened #2 "Manual Installation"
```CocoaPods``` and ```Carthage``` are awesome tools and make our life really easier, but there are some devs who still don't know how to use them.

It would be cool to add the *Manual installation* guide in your ```README.md```. You can take a look at my [iOS Readme Template](https://github.com/awesome-labs/iOS-readme-template) to see how you can do it.

[2017-02-07 11:13] marcosgriselli opened #3 "Add tests"
Add unit testing and UI tests.

[2017-02-07 11:20] marcosgriselli opened #4 "Add documentation"
Document each class with its description, functionality and how to use it.

[2017-02-13 00:38] #4 closed, assigned to marcosgriselli

[2017-02-22 12:06] EvgeniyGT opened #5 "GestureRecognizer never removed."
Hey @marcosgriselli
This condition always false.

[code]

Solution:

[code]

Please check.

[2017-02-23 14:14] marcosgriselli commented on #5
@EvgeniyGT Want so submit a PR? I'd gladly review and merge it :).

[2017-02-27 08:18] Hsanka6 opened #6 "handlePan pans when you are going up/left or up/right or down/right or down/left"
One of the problems I ran into while I was using this library was that the pan view was scrolling left or right if I was going diagonally. This was VERY annoying. I was able to fix this (for the most part) with this code. Basically, I detect if the user is scrolling up or down, and if they are, we don't use the pan handler, we simply return.

[code]

[2017-02-28 00:56] marcosgriselli commented on #6
I'll take it into account, the tricky part is that what happens when you are swipping left/right but it's not a perfect horizontal line? I'll add some margins for it.

[2017-02-28 02:54] Hsanka6 commented on #6
I was trying to figure that out but it'll take me a while since I'm not familiar with your code completely but the code above helped a lot with like a diagonal swipe. You had it at > .5 and then it switches the page but that doesn't work perfectly. If you fix it you should update your pod!

[2017-02-28 03:08] #3 closed, assigned to marcosgriselli

[2017-02-28 13:59] #5 closed, assigned to nobody

[2017-02-28 14:39] #2 closed, assigned to marcosgriselli

[2017-02-28 14:39] #6 closed, assigned to nobody

[2017-02-28 18:43] sirvon opened #7 "MapView in Controller"
What happens with one of the tabs contain a MapView or a swipable tableview cell?

How can we ensure that swiping to next VC will work as intended.

thanks!

[2017-02-28 18:48] marcosgriselli commented on #7
Let's assume you have a swipeable cell, when should it swipe the cell and when should it swipe the tab bar?

[2017-03-04 08:56] makthrow opened #8 "setting defaultIndex breaks Swipe"
If I subclass SwipeableTabBarController to add a defaultIndex for a different tab,
the default index works correctly to take me to the second tab (tab 1) but it breaks swipe.

That is, until I go to another tab by clicking on the tab icon. Then, swipe starts working again.

Any idea why this is?

     `import SwipeableTabBarController

    class SwipeableTabBarControllerSub: SwipeableTabBarControl

[2017-03-04 09:46] makthrow commented on #8
in another class, when I use this command:

tabBarController?.selectedIndex = 1

the swipe is also broken until I manually click a tab bar icon.

so I think it's the programatically selecting an index that breaks swipe

[2017-03-04 10:12] makthrow commented on #8
ok after reading your example I think I fixed programatically change tabs with:
` tabBarController?.selectedViewController = tabBarController?.viewControllers?[1]`

and fixed the default selected tab code with

    override func viewDidLoad() {
        super.viewDidLoad()
        selectedViewController = viewControllers?[1]
    }

[2017-03-04 11:02] makthrow opened #9 "Disable Swipe when pressing a button"
Is there a way to disable swipe temporarily?

For example, when I'm holding down a record button on a camera, i don't want to let the user swipe tabs. Instagram has this for example.

[2017-03-04 11:24] makthrow commented on #9
maybe add another condition  and variable,
    var TempDisableSwiped = false

private func shouldSuspendInteraction
in SwipeInteractor class

eg.
if !TempDisableSwipe {
   return true
}

then in SwipeableTabBarController class:

open func setTemporaryDisableSwipe(enabled: Bool) {
    swipeInteractor.TempDisabledSwiped = enabled
}

then in any class i can use
        tabBarController?.setTemporaryD

[2017-03-04 13:42] marcosgriselli commented on #7
@sirvon

[2017-03-04 13:45] marcosgriselli commented on #8
Yes I might need to add something to clear that out as general rule of thumb with `UITabBarController` is to change controllers with `selectedIndex` but this doesn't work with viewController observer to enable the swipe. I'll think of a solution to make it straight forward.

[2017-03-04 13:45] #8 closed, assigned to nobody

[2017-03-04 13:47] marcosgriselli commented on #9
Good point! I was thinking about adding something like excluded indexes, but this makes sense too, I'll set a milestone for this.

[2017-03-04 17:35] marcosgriselli commented on #7
Added support to disable interactive swipe when needed a0a9e8a

[2017-03-04 17:35] #7 closed, assigned to nobody

[2017-03-04 17:36] marcosgriselli commented on #9
Forgot the commit message. Added support to disable the interactor at will a0a9e8a

[2017-03-04 17:36] #9 closed, assigned to marcosgriselli

[2017-03-05 07:48] sirvon commented on #7
Sorry, been away from code for a second...

So, if there's a map in one of the tab controllers
do
[code]
so pretty much swipe functionality is gone when mapview is on screen....

In a perfect world, when a user swipes from the edges of screen, then move to appropriate controller.

[2017-03-05 08:07] makthrow commented on #9
I'm not sure if I'm using this right.
When I call the function it doesn't disable the swipe.

`        tabBarController?.setTabBarSwipe(enabled: false)
`

I've tried this in viewDidLoad and upon a function a call.

edit: nvm, i realized now the ViewController is supposed to call it.

[2017-03-05 17:02] marcosgriselli commented on #7
That's a good idea, I'll keep it mind for future versions to support maps, horizontal scrollViews and swipeble cells.

[2017-03-11 16:24] Enricoza opened #10 "Bug On sideBySide style"
Not sure if this is only me, but maybe it helps:

When you drag to the middle of the next view and than you lift your finger, it should end the pan gesture and actually it does, but sometimes (you have to find the right spot) it does the "backing" animation twice (and the second one comes with a black background cause i think the other VC is not there anymore)

Oddly enough it happens only in some

[2017-03-15 15:21] Enricoza commented on #10
If you enable diagonal swipe it is even worse, but i don't know if maybe it's because i am in a vertically scrollable collection view in the meanwhile

[2017-03-15 17:41] marcosgriselli commented on #10
@Enricoza I'll look into it, if you find anything else that can be helpful post it

[2017-04-18 23:55] Desgard opened #11 "How can I `setTabBarSwipe(enabled: false)`"
I didn't want to get the feature, which is **swiping the controller to change the controller**.
And where will I add the `setTabBarSwipe(enabled: false)` code to forbidden this feature. 😭

[2017-04-19 00:05] marcosgriselli commented on #11
Just call `setTabBarSwipe(enabled: false)` on the ViewController's `viewDidLoad()` method.

[2017-04-19 00:16] Desgard commented on #11
@marcosgriselli Thx for your reply.

How need I to do something else?

![2017-04-19 8 13 54](https://cloud.githubusercontent.com/assets/7804535/25158063/35e2a9e4-24d8-11e7-8590-71a68cf0581c.png)

[2017-04-19 00:21] marcosgriselli commented on #11
Probably `import SwipeableTabBarController` on your `UIViewController` subclass

[2017-04-19 00:52] Desgard commented on #11
When I update `1.0.4` from `1.0.0` , I solve it.
I'm so foolish.... 😭
Thx a lot.

[2017-04-19 00:56] #11 closed, assigned to nobody

[2017-04-28 13:03] kuldeep13990 opened #12 "this code is available in Objective C?"
i am not familiar with Bridging code so can you tell me that this code is available in Objective C?

or can you guide me how can i use this in Objective C?

[2017-04-28 13:11] marcosgriselli commented on #12
Hi @kuldeep13990 , you **can** use `SwipeableTabBarController` on Objective-C. Check this [StackOverflow answer](http://stackoverflow.com/questions/24102104/how-to-import-swift-code-to-objective-c) for how to bridge Swift code into your Objective-C app.

[2017-04-28 13:11] #12 closed, assigned to nobody

[2017-05-02 09:14] kuldeep13990 opened #13 "One View is Overlap on Another View and App Stucked"
I have 3 ViewControllers in TabBar, 1st is TableView, 2nd is Video Recording Screen and 3rd is Tableview.

i am hiding TabBar in 2nd Screen.
When i swipe from 3rd Tab to 2nd Tab, on top there's 3rd Tableview screen display in device but when i view it by **"Debug view hierarchy"** , actually 2nd Video Recording screen is on the top and app Stucked.

i also try to replace simple view controller on

[2017-06-01 22:42] marcosgriselli commented on #13
@kuldeep13990 sorry for the delay. Yes, the issue is related to hiding the tabBar, so far this library doesn't support this type of functionality but I'll take it into consideration in the future.

[2017-06-01 22:42] #13 closed, assigned to nobody

[2017-06-09 02:01] marcosgriselli opened #14 "Swift 4 support"

[2017-06-25 10:46] KoD4K opened #15 "Disable animation for tab bar button"
Is it possible temporary disable animation when user press button in tab bar?

I know how to stop swipe but I also need to disable animation sometimes.

Additional: is it possible to change animation? When user press button in tab bar I need to have sideBySide animation but when I want to change selected index programmatically I need push animation.

Thanx a lot!

[2017-06-25 16:30] marcosgriselli commented on #15
Disabling animation seems an easy addition, I'll work on it over the week.

To change the animation use `setSwipeAnimation(type: SwipeAnimationType.sideBySide)` or whatever animation type you want previous to the action.

[2017-07-14 06:20] KoD4K commented on #15
I'm really sorry but when 1.0.5 version is comming? I'm really need function to disable animation. Is it possible to added before you adapt to swift 4.0?
Thanx a lot for your answer!

[2017-07-14 10:37] supermnemonic commented on #10
i experienced it too. my solution is to edit SwipeAnimation.swift inside animateTransition() then inside completion block of UIView.animate(), to be like this.
[code]

[2017-07-14 10:44] supermnemonic opened #16 "delay completing animation when lift finger (touch ended / pan ended)"
so I implemented sideBySide animation. i tried to swipe it fast, but when I immediately lift my finger, there is some delay so that handle-pan state ".ended" is called after a moment, and result is the completing animation is delayed. can somebody give solution ???

[2017-07-17 19:40] HaVaNa77 opened #18 "hangs on load if try to swipe"
Hi Marco, i'm using your fantastic swappable tabbar but i have a little problem, i've notice that sometimes when application loads it hangs if i make a swipe gesture, in my app i don't use swipe gesture, can you tell me how to disable it for all the viewcontrollers?
Maybe force disabling can stop the issue

[2017-07-24 16:57] marcosgriselli commented on #10
@supermnemonic wanna send a PR? I'm currently traveling and will be able to review/test it in a few days.

[2017-07-24 17:05] marcosgriselli commented on #18
So you just need the animation when tapping on the `UITabBarItem` right? So on your `SwipeableTabBarController` subclass just do `isSwipeEnabled = false` in your `viewDidLoad()`.

[code]

[2017-07-24 17:31] marcosgriselli commented on #16
Is there a delay just on the .ended case? Or is it on the entire `handlePan(_ recognizer: UIPanGestureRecognizer)` function?

I'm trying to swipe as fast as I can and don't get any significant delay on the .ended case:

<img width="610" alt="screen shot 2017-07-24 at 7 29 43 pm" src="https://user-images.githubusercontent.com/14804033/28536027-b04fc044-70a6-11e7-9a26-cdb202bb7b69.png">

[2017-07-24 22:32] HaVaNa77 commented on #18
Thnx man, that fixed it!

[2017-07-24 22:32] #18 closed, assigned to marcosgriselli

[2017-07-25 23:58] HackShitUp opened #19 "setSwipeTabBarEnabled(enabled: Bool) conflicts with UIGesture"
Is it possible to traverse this protocol for a UIView instead of a UIViewController?
I have a UITableViewCell with a horizontal scrolling UICollectionView in it and it seems to conflict with the UIPangesture (I'm assuming) so it swipes between the UITabBarController's view controllers instead of scrolling through the UICollectionView in the UITableViewCell.

[2017-07-26 06:03] SummerHF opened #20 "can you add a oc version"

[2017-07-26 10:15] marcosgriselli commented on #20
What's an oc version?

[2017-07-26 18:23] marcosgriselli commented on #19
@HackShitUp do you have a sample project I can check out? I might have a solution to test on this particular case but I don't have the time to build a demo example.

[2017-07-27 02:50] SummerHF commented on #20
write it by objective-c ..... my god,i try to make it,but not success..... hope you can do it,thank you very much

[2017-07-27 04:13] SummerHF commented on #19
if add a tableview or collectionView,the gesture can not work,can you solve it?

[2017-07-27 04:34] SummerHF commented on #20
i have solve this problem,and i have write your demo by objective-c,thanks very much,love you so much

[2017-08-05 11:31] #20 closed, assigned to nobody

[2017-08-06 16:23] marcosgriselli commented on #19
@HackShitUp any update?

[2017-08-06 20:43] HackShitUp commented on #19
@marcosgriselli Sorry for the late response, I've been busy starting up. I'll try to share a sample project as soon as I can, and post the Git URL here.

[2017-08-06 21:25] HackShitUp commented on #19
@marcosgriselli https://github.com/HackShitUp/SwipeIssue

[2017-08-07 11:55] marcosgriselli commented on #19
I checked it out and this quick fix will be good until I come back home in a couple days.

On your `extension TableViewController: UICollectionViewDataSource, UICollectionViewDelegate` add

[code]

This will disable the SwipeableTabBarController interaction when using a `UIScrollView` and reactivate it when you finish using it.

I'll come up with a solution integrated to the library next week.

[2017-08-07 12:03] marcosgriselli commented on #16
Any updates @supermnemonic ?

[2017-08-07 13:50] marcosgriselli commented on #15
b916eaa Added support for disabling animation on item tap.

Use it like this:
[code]

[2017-08-07 13:50] #15 closed, assigned to marcosgriselli

[2017-08-07 20:03] HackShitUp commented on #19
@marcosgriselli Perfect, I completely forgot about the scroll view delegate methods. Thank you!

[2017-09-05 05:47] HackShitUp opened #22 "Setting the subclass correctly"
For some reason, the animations aren't working? I think this might have to do something with one of my view controllers having a navigation controller. I'll see if I can get more info on this issue because it was working perfectly fine before I tampered with one of the view controllers on storyboard.

[2017-09-05 11:12] marcosgriselli commented on #22
Hi @HackShitUp, animations should work even when the `UIViewController` is inside a `UINavigationController` but only for the first `UIViewController` on the navigation stack. This way it doesn't interfere with 'swipe to go back' native UIKit functionality.

[2017-09-13 00:48] HackShitUp commented on #22
@marcosgriselli yeah I assumed that a navigation controller has nothing to do with it. But for some reason, none of the animations work. The relationship view controllers recognize the pan gesture, it just doesn't perform the animation. Any suggestions on how to debug this?

[2017-09-13 00:57] HackShitUp commented on #22
@marcosgriselli I also realized that the transition works in the beginning but only when you tap the UITabBar. In other words:
(1) The app launches.
(2) When you tap on any of the UITabBars, the transition performs with the animation.
(3) When you tap or swipe from the transitioned view controller, the transition executes, but the  animtion doesn't.

[2017-09-14 11:34] alkincakiralar1996 opened #23 "I need to use left gesture on first tap but gesture not working"
let swipeRight = UISwipeGestureRecognizer(target: self, action: #selector(rightGesture))
        swipeRight.direction = UISwipeGestureRecognizerDirection.right
        self.view.addGestureRecognizer(swipeRight)

        setSwipeAnimation(type: SwipeAnimationType.push)
        setTabBarSwipe(enabled: true)

    func rightGesture() {
        print("gesture")
    }

its not working what should i do ?

[2017-09-14 14:34] marcosgriselli commented on #22
@HackShitUp It's working for me in the example app. Can you create a demo project with this error?

[2017-09-14 14:35] HackShitUp commented on #22
@marcosgriselli sure, I'll see what I can do. I need to narrow down the scope of this project first, and that may take a while, but thank you!

[2017-09-14 14:36] marcosgriselli commented on #16
Closed due to lack of consistency.

[2017-09-14 14:36] #16 closed, assigned to marcosgriselli

[2017-09-14 15:07] marcosgriselli commented on #23
What do you mean on first tap? You shouldn't be adding `UISwipeGestureRecognizer` for the animations to work.

[2017-09-14 19:41] alkincakiralar1996 commented on #23
your library is perfectly woking thank you but i just have one problem

in my first tap page of tap controller  i have table view

when i pull from top to bottom to reload datas , passing page to next or previous page.

if the finger's movement from top to bottom or bottom to top i have to cancel this action, it must be fetch the datas

the other tap pages are not tap controller page
they all are

[2017-09-14 20:10] marcosgriselli commented on #14
Added it's own branch [swift4](https://github.com/marcosgriselli/SwipeableTabBarController/tree/swift4)

[2017-09-14 20:10] #14 closed, assigned to marcosgriselli

[2017-09-14 20:12] marcosgriselli commented on #23
I recommend you use `setDiagonalSwipe(enabled: true)` to avoid diagonal or up and downs swipes affect the tabBar animations.

[2017-09-14 20:16] #10 closed, assigned to marcosgriselli

[2017-09-15 13:15] vajahatalee opened #24 "Issues when swiping fast"
When I try to swipe screen quickly, then screen is not swiping. And when I swipe slowly(touch finger over screen and swiping gently) , it works fine.
Any idea? Is there some thing I am missing?

Great Work!

[2017-09-15 14:52] marcosgriselli commented on #24
Hey @vajahatalee thanks 😀! I believe removing restricted swipe will help you add quick swiping `setDiagonalSwipe(enabled: true)`. It comes with downsides but if you truly need fast swipe this is what's holding you back.

[2017-09-15 18:42] HackShitUp commented on #22
@marcosgriselli although I didn't include the scope of my own project using SwipeableTabBarController, I created a new one and was able to replicate it:

https://github.com/HackShitUp/SwipeIssue

[2017-09-15 18:58] marcosgriselli commented on #22
@HackShitUp I just reviewed the project you were missing setting your `UITabBarController` class on the storyboard to `MasterUI`.

That's also why any of the UI customization on the `Master UI` class wasn't working.

<img width="1181" alt="screen shot 2017-09-15 at 3 56 42 pm" src="https://user-images.githubusercontent.com/14804033/30498853-ab3bd88e-9a2e-11e7-8f71-1407bafb66be.png">

[2017-09-15 20:45] HackShitUp commented on #22
@marcosgriselli I realized I submitted the project carelessly without setting the storyboard's class. BUT I did figure out what prevented the animations.

If the relationship view controllers conform to the UITabBarControllerDelegate like so:

[code]

[2017-09-15 21:13] #22 closed, assigned to marcosgriselli

[2017-09-18 09:45] #24 closed, assigned to marcosgriselli

[2017-09-23 23:07] CarloTerracciano opened #25 "Error at first swipe"
Hello Marcos, your library is very useful but I have a little problem.
When I swipe, for the first time in my tabviewcontroller, to go to another viewcontroller the swipe doesn't work.
So, I click on my tab button and then the swipe works well.
This is my code:

[code]

Any mistakes in my code? Thanks in advance for the help.

[2017-09-24 12:28] CarloTerracciano commented on #25
I've solved this issue. I have to initialize my `selectedViewController` in my `viewWillAppear`.

[2017-09-24 12:28] #25 closed, assigned to nobody

[2017-10-12 07:27] moazkh60 commented on #19
@marcosgriselli I tried your solution and it sometimes work and sometimes doesn't. After a certain time the app gets stuck and the views start overlapping.

[2017-10-12 07:31] HackShitUp commented on #19
@moazkh60 Are you customizing the tabBar?

[2017-10-12 07:43] moazkh60 commented on #19
No but I have two collection view in my screen, one is horizontal and one is vertical, so I need to disable the swipe when my horizontal collection view is being scrolled. When I do this using the above mentioned methods of scrollView it works the first time and as soon as I lift the finger up and try again it's stuck. If I try to move to some other tab and come back the screen starts to overlap.

[2017-10-12 14:08] marcosgriselli commented on #19
@moazkh60 Can you expand on the 'it's stuck' part? Do you mind building a simple demo project?

[2017-10-12 14:08] #23 closed, assigned to marcosgriselli

[2017-10-13 04:31] moazkh60 commented on #19
Stuck like I can't scroll the collection view anymore or click on any item in the collection view but I am able to click other tabs at the tab bar and move to some other screen when I return back the swipe able controller starts to overlap the screens and now the screen that got stuck is just plain white because the view of that screen is now overlapped to some other screen. Ok I will try to repli

[2017-10-13 06:22] moazkh60 commented on #19
@marcosgriselli I have replicated the issue. Please check my replicated issue project on GitHub using this link
[SwipeableTabBarController screen overLap issue replicated](https://github.com/moazkh60/SwipeableTabBarController-ReplicatedIssue)

[2017-10-13 12:39] marcosgriselli commented on #19
Thanks @moazkh60. I'll be checking this tonight.

[2017-10-13 12:46] moazkh60 commented on #19
Thanks. I will be waiting for your response.

[2017-10-14 08:20] deafjam opened #27 "Problem with Unbalanced calls to begin/end appearance transitions for <UINavigationComtroller>"
Hi, I'm trying to use SwipeableTabBarController, but if swipe fast, the screen is gets stuck or blank screen. Helps only restart APP.

[2017-10-14 08:21] deafjam commented on #27
In my app, is 4 NavigationControllers with TableViews inside each one.

[2017-10-15 04:40] marcosgriselli commented on #27
Hi @deafjam, what swipe animation are you using? Is this happening on a device or simulator?

[2017-10-15 13:33] moazkh60 commented on #19
@marcosgriselli did you check?

[2017-10-15 13:51] deafjam commented on #27
It's happens on device

[2017-10-15 13:56] deafjam commented on #27
I can add you in TestFlight if you want

[2017-10-15 14:15] marcosgriselli commented on #27
Testflight won't be useful. Is there any chance you can replicate the issue on a demo repository here and invite me?

[2017-10-15 14:25] marcosgriselli commented on #19
@moazkh60 I was just checking it, the app crashes when trying to move to the second viewController on the SwipeableTabBar, there's something wrong with the Storyboard outlets. Can you fix them and push?

[2017-10-15 14:42] deafjam commented on #27
Maybe I can send you a project? My email deafjam@rambler.ru

[2017-10-15 14:43] marcosgriselli commented on #27
I rather check it here. You can make the repo private and invite me.

[2017-10-15 14:49] deafjam commented on #27
Sorry but private repo is paid for me.(

[2017-10-15 15:09] moazkh60 commented on #19
@marcosgriselli I just cloned the repo and tried again the app is crashing on second screen because you forgot to install the pods. Please install the pods using pod Install and open the project using xcworkspace not xcproj

Thanks.

[2017-10-15 15:20] marcosgriselli commented on #19
You are referencing a viewController called `SecondTabVC` that doesn't exist from `Main.storyboard`. Maybe you forgot to add it to the project.

Crash:
<img width="723" alt="screen shot 2017-10-15 at 12 15 45 pm" src="https://user-images.githubusercontent.com/14804033/31586089-b76753c8-b1a2-11e7-978a-4db7b3d982a8.png">

Main storyboard reference:
<img width="261" alt="screen shot 2017-10-15 at 12

[2017-10-15 15:40] moazkh60 commented on #19
I think you didn't download properly. Here is the link https://github.com/moazkh60/SwipeableTabBarController-ReplicatedIssue/blob/master/SwipeableTabBarController-ReplicatedIssue/SecondTabVC.swift

[2017-10-15 17:02] marcosgriselli commented on #19
Got it, not sure why it wasn't appearing on the project.
Ok so found a solution 🎉. Check it out:

![img_2356 trim-3](https://user-images.githubusercontent.com/14804033/31587075-4f550bd6-b1b1-11e7-999e-7cb2e4f909b0.gif)

I'll be updating the library during the next weekend when I have some extra time to work out a generic solution so I don't introduce any 'hacky fixes'.

Just as an exception you co

[2017-10-15 17:17] deafjam commented on #19
Marcos, it's issue for my problem to?

[2017-10-15 17:32] marcosgriselli commented on #27
Try this on your `UIViewControllers` that have `UITableViews`:

[code]

[2017-10-15 17:40] deafjam commented on #27
Ok, thank you, I'll try it

[2017-10-16 05:05] moazkh60 commented on #19
The issue is resolved to some extent but it's still there. I think when I swipe fast then the screen starts to overlap. Try installing the issue app on mobile and do some stress testing moving horizontal scrolling on second screen and then moving between all the tabs using swipe gesture a bit fast. You will see the issue.

[2017-10-16 15:22] marcosgriselli commented on #19
@moazkh60 You are right. This will need deeper revision as it's a complicated issue. It's triggered by `UIPercentDrivenTransition` calling a start transition method again before finishing the previous one. I'll go over it in the weekend.

[2017-10-17 04:29] moazkh60 commented on #19
Thanks @marcosgriselli I will be waiting.

[2017-10-17 11:04] deafjam commented on #27
it's better, but there's still a error and freeze. In the debugger "Unbalanced calls to begin / end appearance transitions for <UINavigationController: 0x10201ee00>"

[2017-10-23 07:59] moazkh60 commented on #19
@marcosgriselli any updates?

[2017-11-02 22:59] karthiikmk opened #28 "App Fronzen"
if i swipe back and forth very fast, app getting frozen.

[2017-11-05 11:51] moazkh60 commented on #19
@marcosgriselli did you resolve the issue yet ? Let me know if it gets resolved soon otherwise I would have no other option but to remove the library from my project.

[2017-11-06 02:57] marcosgriselli commented on #19
Hi @moazkh60, I've been super busy with work and another library I released. I haven't had the time to look into this yet. I plan to fix this but I don't have an approximate milestone date. I'll keep the issue open to keep you or anyone else interested posted.

[2017-11-11 23:07] HackShitUp opened #29 "Can you make the swipe smoother?"
Sorry, this isn't a bug, but I think the UIPanGestureRecognizer could optimize performance when navigating between view controllers in the UITabBarController.

[2017-11-11 23:14] marcosgriselli commented on #29
Well, there's not much going on on the SwipeInteractor. Are you getting performance issues when swiping?

[2017-11-11 23:17] HackShitUp commented on #29
@marcosgriselli Sometimes, the app "blacks - out" on the camera if I swipe too fast or the view controllers freeze in their previous positions. But I figured it wasn't an issue pertaining to this project because I'm customizing the tabbar (I make the tabbar translucent and I apply a gradient background shadow to it) which may be causing it.

[2017-11-11 23:19] HackShitUp commented on #29
It's quite hard to build a project such as this that "just works" when trying to modify what's given with UIKit.

[2017-12-04 08:53] moazkh60 commented on #19
@marcosgriselli I am still waiting for your update I am dependent on your library now. I know you might be busy but please try to find some time to resolve this issue. I would really appreciate it. Thanks for the effort and thanks for the awesome library.

[2017-12-15 12:52] umarhussain15 commented on #19
When will you resolve this issue. I'm stuck in my development of app due to this issue. I have to disable several features. Kindly provide the fix. @marcosgriselli

[2017-12-15 13:10] marcosgriselli commented on #19
@moazkh60 @umarhussain15 sorry for the delay. I've been super busy. Just released version `1.0.10` which fixes this issue 🎉. No more black screens.

The debugger will still show the _unbalanced calls to begin/end_ message but it won't mess up with the usability. I plan to fix those soon.

[2017-12-15 13:12] marcosgriselli commented on #28
Fixed on `1.0.10`

[2017-12-15 13:12] #28 closed, assigned to nobody

[2017-12-15 13:14] marcosgriselli commented on #29
@HackShitUp please check [1.0.10](https://github.com/marcosgriselli/SwipeableTabBarController/releases/tag/1.0.10) release. It handles the black screen situation.

[2017-12-15 13:14] #29 closed, assigned to nobody

[2017-12-15 13:15] marcosgriselli commented on #27
@deafjam I just released version [1.0.10](https://github.com/marcosgriselli/SwipeableTabBarController/releases/tag/1.0.10) which solves this issue.

[2017-12-15 13:15] #27 closed, assigned to marcosgriselli

[2017-12-18 10:31] moazkh60 commented on #19
@marcosgriselli thanks for the update finally 👍. Now the issue is resolved to some extent. Whenever I run the app the first time and try to swipe immediately same issue of white screen occurs. But on the second run it works fine. Kindly look into that thanks.

[2017-12-18 21:29] HackShitUp commented on #29
@marcosgriselli Thanks, but I've decided to forgo using SwipeableTabBarController for my application...

[2017-12-18 21:35] marcosgriselli commented on #19
@moazkh60 second run meaning you close the app and run it again? I have an idea to solve this. Are you convining version `1.0.10` and the code for supporting horizontal `UICollectionView's` from above?

[2017-12-19 05:41] moazkh60 commented on #19
@marcosgriselli  yes I close the app and run it again. No I am on a different page when my app starts, so horizontal UICollectionView is not above. Few points to be noted

1. It happens if I run the app and immediately start to swipe. The screen get stuck and then suddenly the white screen appears just like before but this time all screens are white.
2. If I click on the bottom tabs first and move

[2017-12-26 06:12] moazkh60 commented on #19
@marcosgriselli any further updates?

[2018-01-17 17:11] ghost opened #31 "Issues mentioned as fixed in v1.0.10 still occurring in iOS 11.0"
Hello! I'd first like to thank the developers for maintaining this repo and making this great feature :)

I noticed that many issues such as the "black screen" and freezing after swiping quickly is still occurring for me. I'm running your test app called "SwipeableTabBarController_Example" that is in your repo, and my simulator is giving those issues still. Could it be that the simulator is in iOS

[2018-01-18 12:41] marcosgriselli commented on #31
Hi @Bobobocuz I will be fixing this issues soon. I've been really busy with work but I hope to find time soon to fix these problems.

[2018-02-27 00:20] marcosgriselli commented on #19
I'm closing this issue as it drifted away from the original issue. I have more time to delicate to open source projects now so issues will be tackled a lot faster. @moazkh60 if you're still using this library feel free to create any new issue with a good description and we'll solve it :)

[2018-02-27 00:20] #19 closed, assigned to marcosgriselli

[2018-02-27 00:21] marcosgriselli commented on #31
@Bobobocuz Can you test it on a real device? I just tested on an iPhone X and the only way to get the Black Screen issue is by Swiping furiously and at the same time tap the tabBar item icons multiple times.

[2018-02-27 00:24] marcosgriselli opened #32 "Screen gets black after swiping back and forth fast"
I think the issue has become an edge case with all the adjustments but still it can be easily triggered by Swiping back and forth fast + tapping on a tabBar item at the same time.

This issue has to do with new a transition being triggered without the previous transition being finished. My initial guess is that I'll have to work with snapshot views to avoid any potential issue and restore the orig

[2018-02-27 00:25] marcosgriselli commented on #31
This issue will be managed by #32

[2018-02-27 00:25] #31 closed, assigned to nobody

[2018-02-27 22:14] sbrioux opened #33 "Create without xib or storyboard?"
Is it not possible to create this class like the following:

[code]

[2018-02-27 22:33] marcosgriselli commented on #33
@sbrioux can you add a more detailed description? Are you getting an error/crash? an empty screen?

[2018-02-27 22:58] sbrioux commented on #33
Currently you can't even compile because there is not init() constructor in the SwipeableTabBarController class.  Has to use the init(coder aDecoder: NSCoder) method.

The MySwipableTabBarController is basically:
[code]

However, currently you can't build because of the line
[code]
Get the error:
    Missing argument for parameter 'coder' in call

[2018-02-27 23:21] marcosgriselli commented on #33
@sbrioux Good catch! I forgot to make the initializer public on `SwipeableTabBarController`. A fix has been deployed on [release 1.0.14](https://github.com/marcosgriselli/SwipeableTabBarController/releases/tag/1.0.14)

[2018-02-27 23:21] #33 closed, assigned to nobody

[2018-02-27 23:36] sbrioux commented on #33
Not sure if it's a side effect or not but now trying to use any of the following methods crashes the application:

Inside the viewDidLoad:
[code]

As well the swipe gestures don't seem to work until a tab is selected from the bottom.

[2018-02-28 02:38] marcosgriselli commented on #33
Sorry for that @sbrioux I made a better fix and tested it :). There's a new release.

[2018-02-28 15:03] sbrioux opened #34 "Add UIScreenEdgePanGestureRecognizer support"
I notice you use the pan gesture recognizer.  Any future plans to support an edge gesture recognizer?

[2018-03-01 14:44] marcosgriselli commented on #34
Sounds useful, specially for screens that have horizontal scrolling content. I wasn't considering adding support for it but I might do it. I'll leave this as a low priority task unless it gets a few thumbs up.

[2018-03-01 15:03] sbrioux commented on #34
Horizontal scrolling is exactly my reason for asking.

[2018-04-05 13:22] thealzgit opened #35 "SwipeableTabBarController inside UINavigationController"
I just want to move between my tab, but i dont want to loose my title and nav bar controller. Is it is possible?

[2018-04-05 15:19] marcosgriselli commented on #35
I think so, if you put the `UITabBarController` inside a `UINavigationController` you should be able to do that.

[2018-04-05 15:32] marcosgriselli commented on #35
Definitely possible

![tabcontroller_inside_navcontroller](https://user-images.githubusercontent.com/14804033/38375719-3fe5becc-38cd-11e8-98ea-35dafd2297a6.gif)

Quick code sample in `AppDelegate.swift`

[code]

[2018-04-05 15:32] #35 closed, assigned to nobody

[2018-04-20 20:47] royherma commented on #25
Hey, can you explain how you fixed this? Thanks!

[2018-04-20 23:14] marcosgriselli commented on #25
@royherma I think the issue comes from not setting the `selectedViewController` manually. Setting this will trigger the setup of the swiping gesture.

[2018-04-27 08:20] thealzgit commented on #31
I have just developed an App using your Library. It is so useful, but when i was testing it I found some bugs with that black Screen. If you click on a tab Bar Button while you are trying to swipe, you'll get a lil bug, sometimes you can go back, and sometimes if you continue clicking on the tabBarButtons, you get more space in black.
Thank you for sharing this library, your answer could be a grea

[2018-04-27 14:53] marcosgriselli opened #36 "Tapping on a TabBar item while swiping causes black screen / wrong frames"
Reported by @behaxe on #31. This happens as SwipeableTabBarController tries to perform the tap transition while still finishing or canceling the swipe transition.

[2018-04-27 15:01] #36 closed, assigned to marcosgriselli

[2018-04-27 15:06] marcosgriselli commented on #32
Solved in #37

[2018-04-27 15:06] #32 closed, assigned to marcosgriselli

[2018-04-29 18:19] Amnell commented on #34
Keep in mind the edge cases (no pun intended) when adding a EdgePan where it will interfer with UINavigationControllers and their native swipe to go back functionality. UX may suffer when panning between multiple tabs and suddenly navigation stacks begin to pop

[2018-04-29 19:10] marcosgriselli commented on #34
@Amnell the current implementation only applies the gesture recognizer to the first `UIViewController` of a `UINavigationController` hierarchy. This might be modified but I feel that swiping from a pushed view controller to another view controller inside the `UITabBarController` doesn't follow the native UX.

On `selectedViewController` change:
[code]

[2018-05-06 00:04] ghost opened #38 "Fatal error : Attempted to read object already deallocated"
Hi,

Sometimes, i have this error (Only found in Iphone X Simulator):

<img width="821" alt="capture d ecran 2018-05-06 a 01 47 15" src="https://user-images.githubusercontent.com/16732967/39668522-35d8302a-50d0-11e8-8c9e-b7ca9598861e.png">

And before this error, a swap gesture is going out the tab bar and it's black.
![capture d ecran 2018-05-06 a 01 48 26](https://user-images.githubusercontent.c

[2018-05-07 12:26] Thiryn opened #39 "overriding UITabBarControllerDelegate"
Hi! Is there a way to override the `SwipeableTabBarController` behaviour for `UITabBarControllerDelegate` I can't find a way to override the extension.
Cheers

[2018-05-13 13:24] marcosgriselli commented on #38
@quero-q Is it only on the simulator or it happens on the device as well?

[2018-05-13 13:24] #39 closed, assigned to nobody

[2018-05-21 09:32] MorganBerger opened #41 "Swipe to mapView sometimes causes wrong index ?"
Hi there,
I'm having a issue working with your pod.

I got those 3 view controllers embed in a custom UITabBarController, child of SwipeableTabBarController :
<img width="469" alt="screen shot 2018-05-21 at 11 18 22" src="https://user-images.githubusercontent.com/5556307/40300168-b7e54480-5ce8-11e8-98db-d7028a6905d6.png">

As you can see, my second controller contains a MKMapView.

Here's the prob

[2018-05-24 06:04] alwinlazar commented on #24
@marcosgriselli Can you let me know the downsides

[2018-05-24 13:38] marcosgriselli commented on #24
@Alwin-Lazar having diagonal swipe is really sensitive so any movement in either direction will kickstart the transition. It can be annoying if you're using any scrollview (tableView, collectionview) but otherwise the UX should be good.

[2018-05-25 16:07] marcosgriselli commented on #41
Can you try doing `selectedViewController = viewControllers?.first` instead? It's a strange issue, the ViewController content shouldn't affect others ability to swipe.

[2018-05-26 05:18] alwinlazar commented on #24
@marcosgriselli Thanks for the replay. your library is pretty good. Swipe slowly it works fine, but when I swipe fast it freeze? How to overcome this issue?

[2018-05-26 12:01] marcosgriselli commented on #24
Thanks @Alwin-Lazar! Are you sure you are using the latest version? That issue should be fixed on the [1.1.1 release](https://github.com/marcosgriselli/SwipeableTabBarController/releases/tag/1.1.1)

[2018-05-26 12:38] marcosgriselli commented on #38
Crash should be solved by f4fd939915214f4ce38afb52f7937cf3dbc9b50f. Still, it's not working correctly for iPhone X simulator. Everything works fine on the real device.

[2018-05-26 19:13] alwinlazar commented on #24
@marcosgriselli the issue is still there. I am using 1.1.1 version

[2018-06-01 12:45] MorganBerger commented on #41
Doesn't change anything sorry, the crash occurs in SwipeAnimation.swift line 73. I get a big fat SIGABRT.
Can you check this out?

[2018-06-05 00:26] marcosgriselli commented on #38
@quero-q could you check this?

[2018-06-05 00:28] marcosgriselli commented on #41
Sure, is there any chance you create a repo with a small project where I can see the bug? Just so we test on the same code.

[2018-06-05 10:15] MorganBerger commented on #41
You can find it at : https://github.com/MorganBerger/TrySwipeTabBarPod
Try spamming small swipes at launch, the bug should occur.
I run it on iPhone SE with iOS 11.3.1

[2018-06-05 14:51] marcosgriselli commented on #41
@MorganBerger I just tried it out. This is a super strange bug. If you add `selectedViewController = viewControllers?.first` on `viewDidLoad` it will work if you use the app regularly. But if you spam small swipes at launch the swiping doesn't work. I'll look at it further.

[2018-06-15 09:53] Tobaloidee opened #42 "Logo design proposal"
Good day Sir @marcosgriselli , I am Tobaloidee and i am a Graphics Designer. I want to contribute to your nice project if you will permit me, regarding a logo design which i am going to do as a gift for free. I'll wait for your approval before I start designing Sir. I've noticed that it doesn't have a logo yet so i thought of helping out. Thanks and best regards!

[2018-06-15 11:34] marcosgriselli commented on #42
Hi @Tobaloidee, absolutely! This project could definitely use a nice logo, I really appreciate it :).

[2018-06-15 11:35] Tobaloidee commented on #42
Thanks for allowing me Sir..will start the design and show you here asap..

[2018-06-15 17:07] Tobaloidee commented on #42
Sir, here's my design based from the feature of the project which is "swipeable tabbar"

favicon
![swipeable-01 - copy](https://user-images.githubusercontent.com/36028424/41480576-78db0874-7101-11e8-8767-3495c886791d.png)
logotypes
![swipeable-02 - copy](https://user-images.githubusercontent.com/36028424/41480580-7df7c32e-7101-11e8-8cd0-eef2a8280a55.png)

color options

![swipeable-03 - copy](http

[2018-06-15 17:14] marcosgriselli commented on #42
Sweet @Tobaloidee ! I really like it. I Feel the first logotype with Swipeable on the top and TabBarController on the bottom but with the same font and color fits better, otherwise it looks like the keyword is Swipeable and TabBarController is just a subtitle.

I wonder if there's quality reduction here. Can you upload it to dropbox or drive and share the download link? I need the favIcon in 1024x

[2018-06-15 17:39] Tobaloidee commented on #42
Here Sir, pink version and adjusted logotypes...I can make a PR and upload the 1024x1024 SVG files for any scaling implementations if you like Sir.

![untitled-3](https://user-images.githubusercontent.com/36028424/41481825-fed5e60c-7105-11e8-9537-a608e70b43c6.png)

[2018-06-15 17:58] marcosgriselli commented on #42
Can I get the app icon only in 1024x1024? So I add it to the demo app. You can create a PR with the banner as SVG and add it to the Readme. I try to follow this style with regards banner in the readme:

<img width="1083" alt="screen shot 2018-06-15 at 14 57 49" src="https://user-images.githubusercontent.com/14804033/41482621-8b94ef16-70ac-11e8-8445-621598fc4e0d.png">

[2018-06-15 18:07] Tobaloidee commented on #42
You can download the favicon 1024x1024 her Sir..https://drive.google.com/drive/folders/1RWT4gfUjfuaKINujYZcl1aMiVDmBKaOu

I'll make a PR now and upload the other files

[2018-06-15 18:16] Tobaloidee commented on #42
created a PR #43 Sir, Thanks for accepting my proposal.. If you need any help regarding some modifications regarding logo in the future you can notify me. :) best regards!

[2018-06-19 15:30] #42 closed, assigned to nobody

[2018-07-04 18:05] darbysauter opened #44 "Swipe animation not changing"
In my viewDidLoad I am setting both swipe and tap to overlap I believe this is even copied from the example. When I tap on the tab it does the overlap animation but swiping just does side by side.

[code]

I was also wondering if there was any built in way of hijacking the current animation as right now when you swipe once or tap, you cannot do another one until the animation is done. To me it jus

[2018-07-07 13:47] marcosgriselli commented on #44
Good call @mumphus, the swipe animation was not being changed correctly and always started with `.sideBySide`.

With regards the other issue I need to implement interruptible transitions. I'll create a specific issue for that but it's not a high priority task for now.

[2018-07-07 13:47] #44 closed, assigned to nobody

[2018-07-17 04:15] davidmichaelhogan opened #45 "Fails when setting selectedIndex"
Hi!

I'm trying to set self.selectedIndex to the middle option of my menu so I can swipe either way to get to the other views. Whenever I add self.selectedIndex the swipe function just seems to no longer work...

Any ideas would be greatly appreciated !

[2018-07-17 18:03] marcosgriselli commented on #45
Hi @cr-ks you need to update the `selectedViewController` property instead of the `selectedIndex` to trigger the gesture setup:

[code]

[2018-07-17 18:03] #45 closed, assigned to nobody

[2018-07-18 14:08] tomsqrd commented on #45
Do you plan on resolving this bug in the future? Considering setting "selectedIndex" is the usual practice when manually switching to a tab of a tabBarController, this seems like a rather important issue (I just ran into it myself about 10 minutes ago and almost opened a new issue beforeI saw this thread).

[2018-07-18 14:20] marcosgriselli opened #46 "Support changing selected view controller using selectedIndex"
There have been many issues created due to the swipe gesture not working when using `selectedIndex` (#45). It would be nice to support both `selectedViewController` and `selectedIndex`.

[2018-07-18 14:21] marcosgriselli commented on #45
@TomQDRS just created a new issue for this #46

[2018-07-20 15:13] #46 closed, assigned to nobody

[2018-07-24 21:50] OxyFlax opened #47 "didSelect delegate method not called when swipe achieved"
When I click on the tab,
`func tabBar(_ tabBar: UITabBar, didSelect item: UITabBarItem)`
 is called, but when I swipe, it's not.

[2018-08-03 09:16] filip-jaksic opened #48 "SwipeableTabBarController freezes after a few swipes"
Hello,

I was checking out your framework and decided to try out the demo project. Unfortunately, it freezes every time after a few swipes; no errors are displayed, it just stops responding. Not sure if's me or something, but I downloaded it straight from here (v1.3.0) and have the latest xCode (9.4.1).
   ¯\_(ツ)_/¯

Here's a short video of the problem:  https://streamable.com/6bd2o

[2018-08-08 09:52] pistacia opened #49 "Disable Animation on Tab Bar Item press"
Some users can sometimes find transition animation annoying when they navigate using the tabBarController. (when they press tab bar items)

Is there a way to disable animation on `tabBar(_ tabBar: UITabBar, didSelect item: UITabBarItem)` but enable it on both left and right swipe gesture?

[2018-08-10 22:06] cdeck95 commented on #48
Same thing happens for me. Only thing I did was add it to my project with cocoapods and then select the class in storyboard. Freezes after a few

[2018-08-11 13:44] marcosgriselli commented on #48
Is it happening on a real device as well? I had multiple issues with the simulator navigation. I'll be reviewing the transitions next weekend. I'll create a milestone for this issue.

[2018-08-11 13:47] cdeck95 commented on #48
Yes, i never tested on a simulator, just put it on my phone. Not sure if this matters, but the tab bar controller has 6 view controllers connected to it, so the last couple show up in the “more” section

[2018-08-11 14:04] marcosgriselli commented on #48
VC count shouldn't be a problem. I'll take a look at it.

[2018-08-11 14:07] #49 closed, assigned to nobody

[2018-08-11 14:09] marcosgriselli commented on #38
Closing due to inactivity.

[2018-08-11 14:09] #38 closed, assigned to nobody

[2018-08-11 14:12] marcosgriselli commented on #49
Check release [1.3.1](https://github.com/marcosgriselli/SwipeableTabBarController/releases/tag/1.3.1). You can disable it anywhere. Check the app for an example on how to use it.

[2018-08-18 21:24] marcosgriselli commented on #48
@FilipJaksic @cdeck95 I think I nailed the solution on this new branch: https://github.com/marcosgriselli/SwipeableTabBarController/tree/fix/48_freeze

It's a strange issue to debug but I've been swiping and tapping back and forth in both simulator an physical device with no freezes.

[2018-08-18 21:51] #47 closed, assigned to nobody

[2018-08-18 21:58] marcosgriselli commented on #47
@OxyFlax that method is from the `UITabBarDelegate`. I think its fine if it's not triggered by the `UITabBarController` custom transition as there was no interaction with the `UITabBar`. Please use `UITabBarControllerDelegate` `tabBarController(_ tabBarController: UITabBarController, didSelect viewController: UIViewController)` method. I just added a manual trigger on release [1.3.2](https://githu

[2018-08-19 04:46] cdeck95 commented on #48
Thanks! Can you pull that into Master? I want to implement it into my app. Is there a way with cocoapods to import from a specific branch instead of master? lol

[2018-08-19 08:29] OxyFlax commented on #47
Thanks!

[2018-08-19 12:19] marcosgriselli commented on #48
You should be able to install the specific branch using:

[code]
If it works on your app I’ll merge it to master and submit a new version.

[2018-08-24 23:58] marcosgriselli commented on #48
@cdeck95 any luck with it?

[2018-08-28 22:26] cdeck95 commented on #48
Hey I didn’t have any luck with the fix. It didn’t work for me, but it could have been a mid configuration on my part. I am going to try it in a brand new project tonight and keep you updated.

[2018-08-30 00:49] cdeck95 commented on #48
No problems in a new project. So must be a misconfiguration on my end because it still doesn’t work on my app.

Things I have in my app and my guesses right now:

-Tab bar controller with 6 tabs.
-Each tab has a navigation controller (should tab bar controller be inside one navigation controller? Idk I need to check)
-main tab has a collection view that swipes horizontally (problem with different

[2018-08-30 11:17] cdeck95 commented on #48
Did some digging:

The swiping worked in my app after i got rid of the view controller than was basically just a camera, and replaced it with another view controller.

Also another important note: It seems to only work when every view controller is embedded in a navigation controller (which is the standard practice for working with both anyway)

TL;DR - Not something that is your fault, but my app

[2018-08-30 12:07] marcosgriselli commented on #48
Hey @cdeck95 thanks for taking the time for digging into this! I guess I should've asked about your view hierarchy in the first place 😅. Haven't really tried it with a view controller that only displays a camera and yes horizontal collections views conflict with the gesture and there's not much I can do about that one 😕.

I'll evaluate solutions as I think you're not the first one trying to displa

[2018-08-30 12:07] #48 closed, assigned to nobody

[2018-08-30 12:17] cdeck95 commented on #48
Sounds good! Here is the code I use to launch the camera in my app to get you started...

[code]

[2018-11-22 04:00] ashald commented on #34
Do you think it can be an optional feature?

[2018-11-22 11:13] marcosgriselli commented on #34
@Ashald the edge pan? Yeah, shouldn't be too complicated to support edge pans but I currently don't have the time to work on it.

[2018-12-27 16:04] VitaliyR opened #51 "Using SwipeableTabBarController with inner UINavigationController having few children controllers"
Hello!

In case of structure:

* SwipeableViewController
  * UINavigationController
    * UIViewController
      * UIViewController - let's call it inner controller (with back button in the navigationbar)

So, when I'm seeing this inner controller, I can't swipe between SwipeableViewController children controllers. I can swipe to make 'back' action from the edge of the screen and that's it.

How c

[2018-12-27 17:52] marcosgriselli commented on #51
Hi @VitaliyR, currently the swipe gesture is only added to the `UINavigationController`'s `rootViewController` to avoid interfering with the 'swipe to go back functionality'. I briefly discussed the reasons behind this approach here: https://github.com/marcosgriselli/SwipeableTabBarController/issues/34#issuecomment-385273931

[2018-12-27 19:35] VitaliyR commented on #51
@marcosgriselli can't these two gestures work together? And how to override that functionality if it is under fileprivate?

[2018-12-27 19:41] VitaliyR commented on #51
@marcosgriselli as far as I've tested - it works pretty well - back gesture is working just near screen edge and not allowing switching tabs, while if you swipe few pixels after the edge - swipeInteractor catches it correctly

[2018-12-28 01:14] marcosgriselli commented on #51
That's great. I don't recall the exact reason for this decision but any horizontal swipe brought issues on the first few versions. Let me check if we can make it an opt-in feature.

[2019-01-18 01:25] jyc66 opened #52 "Very quick swipes cause app to freeze"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24150%20Funded-%2300A156.svg" />](https://oss.issuehunt.io/r/marcosgriselli/SwipeableTabBarController/issues/52)

On iOS 12.0.1, iPhone X with SwipeableTabBarController 1.4.0.  Initially, produced in my app and then reproduced on the sample app.

Issue: Swipe very quick (velocity.x > 1500, even up to 4000) causes the app to

[2019-01-20 11:15] marcosgriselli commented on #52
I've been fighting this issue since the release of the library. It happens because it is trying to start a transition before the previous one finished. I'll see if I can come up with a final solution on the upcoming days.

[2019-01-20 14:51] jyc66 commented on #52
Thanks, one note is that if the view has already appeared I haven't been able to reproduce the issue.  Ie it can only happen the first time you swipe to a particular tab.

[2019-01-21 06:38] VitaliyR commented on #52
Wouch saw it also. Reproducible simple without changing library code - just be fast enough (even on the simulator using a trackpad)

[2019-01-22 23:31] marcosgriselli commented on #52
Just spent some time digging into this and I gotta admit this issue is strange. All the steps seem to be executed correctly but the transition simply doesn't happen. I'll take some time closer to the end of the week or weekend to refactor a few implementations that should fix this.

[2019-01-23 00:34] jyc66 commented on #52
Looking forward to it, let me know if I can help.  (Admittedly, I already spent a bit of time and could not solve it myself)

[2019-01-28 15:18] jyc66 commented on #52
Hello @marcosgriselli did you end up looking at this issue this weekend?

[2019-02-02 22:11] marcosgriselli commented on #52
@jyc66 Hey! good news I'm about to finish refactoring a lot of the transition behavior based on some Apple sample code which I believe works fine. Are you using an animation other than `sideBySide`? I still need to adjust the frames set up for all the different supported animations.

[2019-02-02 23:38] marcosgriselli commented on #52
You can check the `refactor` branch momentarily although it is missing some features that will get added on the upcoming days.

[2019-02-02 23:39] marcosgriselli commented on #51
Hey, this feature will be added on the next release. I'm working on the `refactor` branch.

[2019-02-02 23:40] marcosgriselli commented on #34
This might get added on the `refactor` branch since it shouldn't be too troublesome to add it. Any help would be appreciated.

[2019-02-04 01:55] jyc66 commented on #52
Hey this is great, I'll check tomorrow when I'm at the office. Thanks

[2019-02-04 13:09] marcosgriselli commented on #52
@jyc66 perfect, let me know how it goes. There are some features still missing like completing the transition when you flick quickly but it shouldn't be too hard to add.

[2019-02-06 02:14] jyc66 commented on #52
I tried it out yesterday using the example app and wasn't able to reproduce the issue however in my actual app I end up with a crash on load. I haven't had a chance to investigate the cause.  Our app is rather complicated and has a lot of legacy code so I'm not sure where the issue lies.  I'll spend a bit more time later this week on it.  Thanks

[2019-02-06 13:38] marcosgriselli commented on #52
Ok, keep me posted on that

[2019-02-13 23:42] marcosgriselli commented on #52
@jyc66 did you had any luck with finding the crash origin?

[2019-02-17 17:25] jyc66 commented on #52
I managed to fix the crash and things appear to work now although I will need to continue testing on a real device.  I can see you put a ton of work into v2, incredible! Thanks!

[2019-02-17 23:58] marcosgriselli commented on #52
Great! I pushed v2.0 today so you can try it out already. It might need a tweak here and there but the core functionality and all animations are there.

[2019-02-18 00:14] marcosgriselli commented on #51
@VitaliyR I pushed v2.0 today. This should be working fine.

[2019-02-18 00:16] marcosgriselli commented on #41
@MorganBerger I just pushed v2.0 and I believe this issue should not happen anymore. Not sure if you still use the library. Otherwise, I'll close this issue.

[2019-02-18 12:01] MorganBerger commented on #41
You can close the issue. Thanks !

[2019-02-18 13:54] RobyHTS opened #55 "isSwipeEnabled causing crashes"
isSwipeEnabled = false

App getting crashed When I use this in your latest update. Kindly check and update me ASAP.
Urgent..
Thanks in advance..

[2019-02-18 14:29] #41 closed, assigned to nobody

[2019-02-18 15:29] marcosgriselli commented on #55
Hey @RobyHTS, when are you calling `isSwipeEnabled`? I'm trying it out on the demo project and everything works fine.

[2019-02-19 04:10] RobyHTS commented on #55
setTabBarSwipe(enabled: false)

@marcosgriselli am using it on my tabviewcontroller also in my uiviewcotroller. But it could not working. Still i can swipe my tabviewcontroller.

Actually what I need is, I have tab with 3 viewcontroller. In my first tab I have range slider.. When I scroll the slider means, ViewController also moving. This is my problem. I need to restrict the swipe in my first tab

[2019-02-21 21:37] blinkuz commented on #55
@RobyHTS I just did some tests on one of my apps and the setTabBarSwipe (enabled: true) works perfectly on a ViewController.

[2019-02-22 00:06] marcosgriselli commented on #55
Any update on this @RobyHTS ?

[2019-02-22 00:07] marcosgriselli commented on #51
I'll close this issue for now.

[2019-02-22 00:07] #51 closed, assigned to nobody

[2019-02-22 13:46] AalokParikh opened #56 "isSwipeEnabled is not working at first view load."
On `viewDidAppear()` method I try to call the `self.setTabBarSwipe(enabled: false)`. But each time the horizontal swipe changes the tab of the tab bar view controller.
And when I again come to the same view by swiping back, the code works correctly and the horizontal swipe will not change the tab.

Why?

What I'm doing wrong, I don't get it.
Please help me with this issue.

[2019-02-22 14:05] marcosgriselli commented on #56
@AalokParikh You're trying to set `setTabBarSwipe(enabled: false)` on you view controller that's the first view controller selected by the TabBarController, right?

[2019-02-23 04:40] AalokParikh commented on #56
Yes, I do.
Also, I tried to set it in other view controllers. Like, when I pushed a new view controller.

If you want I will post my code here for your reference

[2019-02-23 07:36] AalokParikh commented on #56
I found out the issue with it. The other third-party library is causing the issue. Have commented the code for that part of the library and now all working fine now.

[2019-02-23 07:36] #56 closed, assigned to marcosgriselli

[2019-02-26 22:11] marcosgriselli commented on #52
Closing this for now.

[2019-02-28 21:20] weekly-digest[bot] opened #57 "Weekly Digest (21 February, 2019 - 28 February, 2019)"
Here's the **Weekly Digest** for [*marcosgriselli/SwipeableTabBarController*](https://github.com/marcosgriselli/SwipeableTabBarController):

 - - -
# ISSUES
Last week 1 issue was created.
It is closed now.
## CLOSED ISSUES
:heart: #56 [isSwipeEnabled is not working at first view load.](https://github.com/marcosgriselli/SwipeableTabBarController/issues/56), by [AalokParikh](https://github.com/Aalok

[2019-03-03 02:26] weekly-digest[bot] opened #58 "Weekly Digest (24 February, 2019 - 3 March, 2019)"
Here's the **Weekly Digest** for [*marcosgriselli/SwipeableTabBarController*](https://github.com/marcosgriselli/SwipeableTabBarController):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there was 1 commit.
:hammer_and_wrench: [add weekly digest probot](https://github.com/marcosgri

[2019-03-03 22:55] #57 closed, assigned to nobody

[2019-03-10 02:26] weekly-digest[bot] opened #59 "Weekly Digest (3 March, 2019 - 10 March, 2019)"
Here's the **Weekly Digest** for [*marcosgriselli/SwipeableTabBarController*](https://github.com/marcosgriselli/SwipeableTabBarController):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# S

[2019-03-12 15:07] spechaker opened #60 "How can I disable this swipe feature for horizontal collection view?"
## Expected Behavior
The swipe tabbar feature that you've implemented, should not be works when the user scroll on horizontal collection view.

## Actual Behavior
It's messed on scrolling of horizontal collection view.

## Steps to Reproduce the Problem

  1. Add tabbar controller with SwipeableTabBarController
  2. Add a horizontal collection view in viewcontroller
  3. Try to scroll collection v

[2019-03-12 15:20] #58 closed, assigned to nobody

[2019-03-19 16:50] adrienblh opened #61 "MKMapView crash"
`MKMapView` makes the swiping feature crash

[2019-03-19 17:42] marcosgriselli commented on #61
What error are you getting @adrienblh? Can you provide a sample project?

[2019-03-19 17:48] #59 closed, assigned to nobody

[2019-03-26 05:03] krgoodnews opened #62 "Very quick swipes cause app to freeze"
Hi, marcosgriselli.

This is very similar to Issue #52
This situation does not appear in version 1.4, but appear in version 2.0.
I guess there was a problem with the refactoring process.
Please resolve it.

Thank you.

[2019-03-26 12:54] marcosgriselli commented on #62
Again? What's your setup? I was never able to replicate that issue again on v2.0

[2019-03-29 03:43] krgoodnews opened #64 "offer new feature: Enable Cycling Tab Bar"
Hi, marcosgriselli.

If panning right at first view controller, transition to the last view controller.
And panning left at last view controller, transition to the first view controller.

What do you think about?

Thank you.

[2019-03-29 03:46] krgoodnews commented on #62
I had a manual installation.
I tried viewController.loadViewIfNeeded() when I loaded the tab bar and it was fixed.
Thank you. marcosgriselli.

[2019-03-29 10:08] #62 closed, assigned to nobody

[2019-03-29 10:20] marcosgriselli commented on #64
I like the new feature. Thanks for the PR. I added a few comments. Please try to use the Issue template the next time.

[2019-03-30 10:55] marcosgriselli commented on #64
Added on #63

[2019-03-30 10:55] #64 closed, assigned to krgoodnews

[2019-04-03 10:08] krgoodnews commented on #60
I solved it with the UIGestureRecognizerDelegate.
If you want, shoot the video within a few days.
If you like, I will write the code and PR.

[2019-04-03 10:12] krgoodnews opened #65 "New feature: Support horizontal collection view"
I inspired by issue #60

## Expected Behavior
Support horizontal collectionView's scroll and tab bar swipe

## Current Behavior
It's messed on scrolling of horizontal collection view. #60

## Possible Solution
Use horizontal CollectionView and UIGestureRecognizerDelegate

If you want, shoot the video within a few days. If you like, I will write the code and PR.

[2019-04-11 00:23] #34 closed, assigned to nobody

[2019-04-30 00:53] #55 closed, assigned to marcosgriselli

[2019-05-05 05:32] weekly-digest[bot] opened #66 "Weekly Digest (28 April, 2019 - 5 May, 2019)"
Here's the **Weekly Digest** for [*marcosgriselli/SwipeableTabBarController*](https://github.com/marcosgriselli/SwipeableTabBarController):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# S

[2019-05-09 14:02] natinas opened #67 "Black screen when tapping 2 tabs simultaneously"
i open the exemple project, i click on 2 tab bar item in the same time and i have a black screen.

i see that you've already resolved this bug but i've it again.

your help is welcome :D

[2019-05-09 14:14] #66 closed, assigned to nobody

[2019-05-12 05:32] weekly-digest[bot] opened #68 "Weekly Digest (5 May, 2019 - 12 May, 2019)"
Here's the **Weekly Digest** for [*marcosgriselli/SwipeableTabBarController*](https://github.com/marcosgriselli/SwipeableTabBarController):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #67 [black screen when you swiping fast](https://github.com/marcosgriselli/SwipeableTabBarController/issues/67), by [natinas](https://github.com/natinas)

 - - -
# P

[2019-05-19 05:32] weekly-digest[bot] opened #69 "Weekly Digest (12 May, 2019 - 19 May, 2019)"
Here's the **Weekly Digest** for [*marcosgriselli/SwipeableTabBarController*](https://github.com/marcosgriselli/SwipeableTabBarController):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# S

[2019-05-19 11:23] #68 closed, assigned to nobody

[2019-05-19 11:23] #69 closed, assigned to nobody

[2019-05-19 11:26] marcosgriselli commented on #67
Hi @natinas can you provide a sample project? I noticed that this issue depends on what actions you're performing on the view controller you're transitioning to for the first time. My guess is that the main thread is trying to load the view controller for the first time and the transition tries to finish before this is done.

[2019-05-20 06:28] natinas commented on #67
hello @marcosgriselli , i take the project example in your repo (https://github.com/marcosgriselli/SwipeableTabBarController/tree/master/Example).

to reproduce the bug, you need to click on 2 or more tab bar item simultaneously.
you have this result :
![UNADJUSTEDNONRAW_thumb_b](https://user-images.githubusercontent.com/19586905/58000358-d9604380-7ad8-11e9-8d53-162f861db74c.jpg)

[2019-05-20 23:49] #61 closed, assigned to marcosgriselli

[2019-05-20 23:55] marcosgriselli commented on #67
@natinas I added a PR with the fix for this issue. Do you want to take a look at the branch and see if it works as expected?

[2019-05-21 06:26] natinas commented on #67
@marcosgriselli
i test your branch (fix-double-transition-bug) and the bug seems to be removing :)
thx for your help.

[2019-05-21 14:36] #67 closed, assigned to marcosgriselli

[2019-06-01 12:40] jfoucher opened #71 "func tabBarController not called on swipe"
## Expected Behavior
I expect the `tabBarController didSelect` method to be called when I change tabs with a swipe.
It it properly called when I tap on the tabs themselves

## Current Behavior
The `tabController didSelect` method is not called on swipe

## Possible Solution
No, sorry :/

## Steps to Reproduce (for bugs)
1. Download this repository
2. in the Example folder open the workspace in xco

[2019-06-01 22:57] marcosgriselli commented on #71
Hey @jfoucher thanks for reporting this. Selection works in a strange manner. I recommend you observe the `selectedIndex` property and react to changes. You can do it this way:

[code]

[2019-06-03 07:48] jfoucher commented on #71
Ok, thanks for the workaround @marcosgriselli

[2019-06-03 13:33] #71 closed, assigned to nobody

[2019-06-10 11:22] danielbenedykt commented on #67
Hi,

I still see this issue in 2.1.1
Basically is not clicking on 2 tabs,  but sometimes when I run from xcode, I see a blank screen on 1 of the tabs.
I have to clean the project and run it again to make it work.

[2019-07-02 14:16] stepan23021 opened #72 "Any possibility to change animation duration when tapping between tabs?"
Hello, thank you for your awesome SwipeableTabBarController. I'm just wondering if there is a possibility to change animation duration when tapping on tabs, making it a little faster? Thanks in advance.

[2019-07-02 15:21] marcosgriselli commented on #72
Hey @stepan23021, the `animationDuration` property on `SwipeTransitionAnimator` is `private` so there's no way to set it. It shouldn't be difficult to expose it and add a function that sets this duration on `SwipeableTabBarController`. Wanna give it a go on a PR? I can help out.

[2019-09-23 21:24] deweydbb commented on #62
I am still experiencing this issue in version 2.1. Can you elaborate on what you mean by viewController.loadViewIfNeeded()? Here is the test project where I am experiencing the issue: [https://github.com/deweydbb/TabBarTest](url)

[2019-09-27 19:50] deweydbb opened #73 "Swiping too quickly after previous swipe causes UI to freeze"
I know this is a similar issue to #62 but the solution given was too ambiguous for me to figure out. I don't know if this is a bug or if I have implemented the library incorrectly.

version: 2.1.1
Occurs on physical device and simulators, ios 12, 12.4, 13
Demo project: [https://github.com/deweydbb/TabBarTest](url)

[2019-09-30 12:15] marcosgriselli commented on #73
Hi @deweydbb I’m currently on vacation and will check this a week from now

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-25 09:45] AlbertoMalavasi opened #74 "App freezes when first use"
## Expected Behavior
First time I open the app and I swipe right, it should work as expected

## Actual Behavior
App freezes, after a while when pressing other buttons it works again and keeps working as expected.

- Some errors and updating to swift 5 required.

## Steps to Reproduce the Problem
Install it and add it to tab bar

## Specifications

  - Version:
  - Platform: iOS 13.1
  - Subsystem

[2019-10-25 09:50] marcosgriselli commented on #74
Is this issue intended for this repo or [SwipeableTabBarController](https://github.com/marcosgriselli/SwipeableTabBarController)? Let me know and I'll transfer it.

[2019-10-25 10:10] AlbertoMalavasi commented on #74
SwipeabletTabBarController, thanks

Inviato da iPhone

[2019-11-23 20:20] tkohout commented on #73
+1 Still experiencing this one

[2019-11-25 16:30] CameraPost commented on #62
thanks @deweydbb , and @krgoodnews -- I'm also interested in hearing about 'viewController.loadViewIfNeeded()' and how that resolves. Swiping among tabs results in freezing and wondering if there is some way to cause to stop happening. I have 5 tabs in my app. Thanks.

[2019-11-25 16:51] CameraPost commented on #52
Hi Marco @marcosgriselli , thank you for this library!! Follow-up about your post: "There are some features still missing like completing the transition when you flick quickly but it shouldn't be too hard to add."

What features did you have in mind for that? Is that something such as to complete the prior transition if you're flipping quickly to avoid a crash? Appears that quick swiping is causin

[2019-11-25 17:40] marcosgriselli commented on #74
Moving this to #52 which has more participants

[2019-11-25 17:40] #74 closed, assigned to nobody

[2019-11-25 17:43] marcosgriselli commented on #73
Ok, I'll be able to take another look at this in the upcoming weeks. I'm not 100% sure of the cause of the issue but I believe it has something to do with trying to finish the transition before the view is fully loaded.

[2019-11-25 18:16] marcosgriselli commented on #52
@CameraPost First I need to fix that crash, then I'll probably add that flick to transition feature. I'm a bit short of time these past months so progress has been slow.

[2019-11-26 04:11] CameraPost commented on #52
@marcosgriselli Thanks! I understand! I can add that .sideBySide appeared to freeze very often -- so far .overlap hasn't frozen though I haven't tested it thoroughly.

Just many better ways than what I'm adding for now below to the TabBarController using SwipeableTabBarController which seemed to reduce but not stop the crashes with .sideBySide. Attempt was to try to wait for the animation to compl

[2019-11-26 17:43] marcosgriselli commented on #52
Thanks for the code samples @CameraPost! I'll be looking into this next week. I'm quite busy with [BA:Swiftable](https://swiftable.io) this week.

If you want to discuss implementation details or work on it together like pair-programming feel free to reach out via twitter or email. Always happy to join :).

[2019-12-13 11:23] DarkDust opened #76 "Swiping does not evaluate whether a view controller should get selected"
In the tab bar controller of one of our apps, we've implemented `tabBarController(_:, shouldSelect:)` to prevent some view controllers from getting selected. However, the swipe gesture still allows to select them.

So deriving the index of the next view controller to select should take this into account.

Unfortunately, we also need to execute code during `tabBarController(_:, shouldSelect:)` that

[2019-12-13 12:14] #72 closed, assigned to nobody

[2019-12-18 02:04] marcosgriselli commented on #73
@deweydbb is the shared repo still valid? I can't seem to reproduce the issue on the simulator (iPhone 11 Pro iOS 13.2.2)

[2019-12-18 09:49] tkohout commented on #73
@marcosgriselli I think it would be easier to reproduce on device. Also I noticed this happened more with controllers that might take some time to load and possibly block a main thread for a bit.

[2019-12-18 13:38] marcosgriselli commented on #73
Yes, that's my thought as well. I'm trying to generate a case that will reproduce the issue almost consistently so I can test solutions. I'll keep you posted on what I come up with. Of course, if you have a case where the bug is easy to reproduce please share it with me.

[2019-12-23 09:41] kyuuuyki opened #80 "Set minimum or maximum number of touches for recognizer"
## Expected Behavior

If number of touches set to 3, it should only able to swipe when I use 3 fingers.

## Current Behavior

Cannot using specific number of touches to swipe.

## Environment

* SwipeableTabBarController version: 2.1.1
* Device and OS running tests: iPad Mini 4, iOS 13.3

[2019-12-23 09:45] kyuuuyki opened #81 "Swipe on UICollectionView using more than 1 finger"
## Expected Behavior
If I set minimum number of touches to 3, It should swipe to next tab even if i'm swiping on UICollectionView

## Current Behavior
Cannot swipe to next tab on UICollectionView

## Environment

* SwipeableTabBarController version: 2.1.1
* Device and OS running tests: iPad Mini 4, iOS 13.3

[2019-12-23 10:52] marcosgriselli commented on #81
Closing this since it is the same feature request as #80.

[2019-12-23 10:52] #81 closed, assigned to nobody

[2019-12-23 11:10] marcosgriselli commented on #80
@kyuuuyki this is a straightforward feature, would you like to send a PR? I can help out with it.

[2019-12-23 12:48] kyuuuyki commented on #80
I still can't figure out how to swipe (with more that 1 finger) on UICollectionView.

Since that issue (#81) is related to this issue,
I think it will be best if you commit both on your PR.

However, thanks for your pod. great work!

[2019-12-26 12:21] mrcendre commented on #73
I experienced a similar issue after trying to distribute tasks properly among the my UIViewController's life cycle : in order to smoothly present each view controller, the amount of work in `viewDidLoad` had to be drastically decreased. Data tasks and UI components are loaded and faded in once from `viewDidAppear()` to prevent interferences with the tab bar's transitions when the view controller i

[2019-12-26 16:55] marcosgriselli commented on #73
Thanks for the detailed description @mrcendre do you happen to have some of the code that triggered the problem on `viewDidLoad()`? I want to find a real case where the issue is consistent.

[2019-12-28 12:07] marcosgriselli commented on #76
@DarkDust I really hate to decline user's proposals but this is a specific requirement for your app/product and I don't think others will be benefited from the increased complexity to support this.

Anyway, this library will rarely get new features/changes. #73 is the only critical fix that comes to mind, so it's fine to use your fork with your specific requirements.

[2019-12-28 13:51] DarkDust commented on #76
No problem. I still think `tabBarController(_:, shouldSelect:)` should be respected, but I agree that my solution is introducing a feature very few (if any) users would need.

[2019-12-30 11:56] marcosgriselli commented on #76
I'm going to close this issue and the related PR for the moment. If we find that this is a use case for other library users we can reevaluate it. Thanks for the work!

[2019-12-30 11:56] #76 closed, assigned to nobody

[2020-01-21 11:34] thomas-sempf opened #82 "Support for Swift Package Manager"
Hello,

It would be great to get support for the Swift PM in the future.

[2020-01-21 12:58] marcosgriselli commented on #82
Added SPM support on [3.0.0](https://github.com/marcosgriselli/SwipeableTabBarController/releases/tag/3.0.0) release

[2020-01-21 12:58] #82 closed, assigned to nobody

[2020-01-31 07:57] johyunmin commented on #73
I did everything I suggested in the above article, but it freezes too. Is there another solution?

[2020-01-31 12:35] marcosgriselli commented on #73
@johyunmin do you have an example of your `viewDidLoad()` code that you can share?

[2020-02-03 01:42] johyunmin commented on #73
@marcosgriselli

[code]

This is my viewDidLoad code. I changed it very simply.
appMainPilotList() This code takes the Alamofire api and reloads the tableview.
I have 4 tabs in total and the 1 , 3 tabs are WKWebviews.
But still happens.

[2020-02-11 11:01] #80 closed, assigned to nobody

[2020-02-15 18:18] eliaxyz commented on #52
Hi Marco, your controller is nearly perfect, but....
I get regularly strange freezes by using the controller and all views stop reacting to touch interactions.
At the same time the views can still be controlled by code, **but not by touch**.
I tried to debug that error, and I found out, that the processor is at 5 %  and my app is completely working normal, but the views (e.g. buttons) are not reac

[2020-02-17 13:22] marcosgriselli commented on #52
@eliaxyz yes, this has been a persisting issue with this library. I'm not able to replicate the problem consistently in order to find a solution. If you have any sample code that reproduces the issue consistently I'd really appreciate it.

[2020-02-18 07:36] eliaxyz commented on #52
Hi Marcos,

just wondering, if there is a way to answer to you privately… because I would not like to publish parts of my current project to everyone.
I’m going to create a test project with some racing conditions to produce the crash now….
… still don’t know, what happens with this message, sent from my email client :-)

[2020-02-18 09:59] marcosgriselli commented on #52
Yes, you can write me to my username at gmail or via twitter (same username)

[2020-02-18 10:00] eliaxyz commented on #52
While creating different test-projects with race-condition, I startet with the following code, in which a freeze always occurs:

class ViewController: UIViewController {

    var currentVC = 0
    var x = 0

    override func viewDidLoad() {
        super.viewDidLoad()

               Timer.scheduledTimer(withTimeInterval: 0.1, repeats: true) { timer in
               self.timerFunc()
           }

[2020-02-18 10:17] eliaxyz commented on #52
There are 2 different errors possible with this test-code:
1. No view becomes visible at all
2. The ViewController freezes and doesn't react to movements anymore after starting with some fast "swipes"

I guess, the SwipeableTabBarController should be able to handle this stress-situation without error.

[2020-02-18 11:38] marcosgriselli commented on #52
@eliaxyz this is great! I just tried your code and managed to reproduce the issue consistently. I might have an idea for a fix. I'll be working on this in the upcoming days. Thank you very much!

[2020-02-18 21:20] eliaxyz commented on #52
Maybe it could be a good idea to introduce a new custom function (eg. swipeToIndex) for changing between tabs **animated**.
And letting the property-change of "selectedIndex" doing the same **without animation** (change to the new tab immediately)...?

[2020-02-19 00:02] marcosgriselli commented on #52
That might be a good idea. I'm trying to keep the library as close as `UITabBarController` as possible so you just subclass it and everything works with animations. If I'm not able to come up with a solution I think that's the path we will take.

[2020-02-23 09:51] eliaxyz commented on #52
Hey Marcos,

I didn't take a deeper look at your code yet, but it's clear, that the problem is caused by a wrong timing. (When to start animation, from where to start it, and when to set "**selectedIndex**" - **which should not start any animation, but should only be set indirectly when swipe-animation already arrived at the associated item!**)

You can modify my testing code by setting: withTimeI

[2020-02-24 17:51] eliaxyz commented on #52
Hi Marcos,

I modified the former "crash-test" with the following:

[code]

And I did the same for the second ViewController like this:

[code]

As result you can see what happens and when it happens:
(the numbers behind the + is the time after last event in mili-seconds):

[code]

And as logical result the view crashed with the error:

[code]

This error is well documented...

... But you have re

[2020-03-02 11:20] marcosgriselli commented on #52
@eliaxyz great! Thanks for all the feedback. I was out last week but I'll be able to catch up with this issue this week. I'll keep you posted.

[2020-03-09 13:21] marcosgriselli commented on #73
We'll use issue #52 for this problem.

[2020-03-09 13:21] #73 closed, assigned to nobody

[2020-03-22 16:11] joshkautz commented on #52
I've had the same issue with swiping quickly - spent some time trying to identify the source of the issue, but no luck.

[2020-04-06 18:58] LoopingLouieX opened #85 "Swipe to ViewController programmatically"
Hi,
sorry for this stupid question but I've tried a lot of things right now but don't come across a solution.
I've managed to set up everything and it's working really great.
But now I want to swipe to specific ViewControllers programmatically from a button as example.
How can I get this working ?

Thanks!

[2020-04-07 12:01] marcosgriselli commented on #85
Hi @LoopingLouieX. You just need to change the UITabBarController's `selectedIndex` value in the function that's called when the button is tapped.

If it's called from one of the view controllers contained in the UITabBarController you'll have to do this:
[code]

[2020-04-07 12:01] #85 closed, assigned to nobody

[2020-04-10 10:23] janahmad619 opened #86 "ViewDidLoads of tabBarControllers not working"
When i add sub class swipeAbleTabbar controller for MyTabController then aal viewDidLoads not working for its tab bar view controllers

[2020-04-10 17:24] marcosgriselli commented on #86
@janahmad619 do you have any sample code? `viewDidLoad()` is only called once and not every time the view controllers are shown.

[2020-04-13 02:46] #86 closed, assigned to nobody

[2020-04-16 16:20] arslan111222 opened #87 "how can i stop swipe control for specific viewcontroller"
Your issue may already be reported!
Please search on the [issue track](https://github.com/marcosgriselli/SwipeableTabBarController/issues?utf8=✓&q=) before creating one.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Environment

* SwipeableTabBarController version:
* Device and OS running tests:
* Demo project link:

[2020-04-16 16:30] arslan111222 commented on #87
i am working on chat as i move to chat box i dont need to swipe between controller until or unless i pop my chat box is there any possibility to stop swipe at that point.

[2020-04-17 12:46] marcosgriselli commented on #87
@arslan111222 you'll need to call `setTabBarSwipe(enabled: false)` from the ViewController that you don't want to have swipe enabled.

You can do this in `viewDidAppear` and re-enable it on `viewDidDisappear`.

[2020-04-17 12:46] #87 closed, assigned to nobody

[2020-05-20 07:27] garima-bothra opened #88 "How to change direction of swipe based on semanticContentAttribute"
Your issue may already be reported!
Please search on the [issue track](https://github.com/marcosgriselli/SwipeableTabBarController/issues?utf8=✓&q=) before creating one.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Environment

* SwipeableTabBarController version:
* Device and OS running tests:
* Demo project link:

[2020-05-20 07:33] garima-bothra opened #89 "Enhancement: Changing direction of swipe based on semanticContentAttribute"
Your issue may already be reported!
Please search on the [issue track](https://github.com/marcosgriselli/SwipeableTabBarController/issues?utf8=✓&q=) before creating one.

## Expected Behavior

 The TabBar swipe should work according to the semanticContentAttribute
## Current Behavior

 Currently it swipes Left to Right even when semantics is Right to Left

## Possible Solution

## Steps to Reprodu

[2020-05-20 07:33] #88 closed, assigned to nobody

[2020-05-20 15:28] marcosgriselli commented on #89
Good catch @garima94921. I'll take a look at this over the weekend

[2020-06-05 20:48] wasp898 opened #90 "Is disabling tap animation not supported anymore?"
I haven't found a way to disable the animation when tapping on a tab. But several issues and commits indicate that this was possible before.
Even the example app features this code (which is now commented) out:

`//tapAnimatedTransitioning = nil`

But `tapAnimatedTransitioning` is a get-only property.

Is there another way to achieve this now?

[2020-06-08 19:44] wasp898 commented on #90
I guess setting `animationDuration` to 0.0 does the job. The example should be updated. I could do that myself I guess.
I'm closing this issue for now.
Anyway, I did find a bug though. In my app I have other gestures which somehow cause the `currentAnimatedTransitioningType` to be of type Swipe instead of Tap type. After that, when I tap I still see the animation of default duration.
Will try to p

[2020-06-08 19:44] #90 closed, assigned to nobody

[2020-06-11 14:07] JMCPH commented on #90
Did you find to manage a clean fix for this?

[2020-06-11 14:16] wasp898 commented on #90
I did actually. I’ll push a PR asap.

[2020-06-30 20:09] JMCPH opened #95 "Disable UIPanGesture on specific UIView"
Would it be possible to disable pan gesture for a specific UIView inside a UIViewController?

As the UIPanGestureRecognizer is private, it's not possible to do the following:

[code]

[2020-06-30 21:11] marcosgriselli commented on #95
I don't think that's possible with the current API but it seems like a feature users will be interested since a lot of views would be better off ignoring that gesture (UICollectionView, MKMapView).

I can take a look at it in the upcoming weeks or help you out if you plan to draft a PR.

[2020-07-01 07:38] JMCPH commented on #95
I would love to make a PR! :-)

[2020-07-01 13:33] marcosgriselli commented on #95
Great, let me know if you need a hand with that. Ideally, we'll just find a way to select many views from different screens that will ignore the swiping gesture but I don't have a nice way of achieving that yet.

[2020-07-02 11:20] JMCPH commented on #95
I'm thinking of turning this line:
`private var panGestureRecognizer: UIPanGestureRecognizer!`

Into this:
`open var panGestureRecognizer: UIPanGestureRecognizer!`

Then in the UITabBarController we can set the delegate of the `panGestureRecognizer` to `self` and then make the check in the following delegate function:
[code]

[2020-07-07 12:27] JMCPH commented on #95
@marcosgriselli what do you think?

[2020-07-08 12:41] marcosgriselli commented on #95
Sure, let's go that way. If we ever need to expand its use case we can search for another approach.

[2020-11-04 21:40] MaxHasADHD opened #97 "Detect a swipe vs tap"
Is it possible to detect when the page changes from a swipe instead of a tap?

[2020-11-15 13:52] marcosgriselli commented on #97
@MaxHasADHD `SwipeableTabBarController` is a subclass of `UITabBarController` so it comes with the same mechanisms. You can use KVO to observe the `selectedViewController` or `selectedIndex` properties that will change when swiping ends. Or if you're using Combine you can do it with publishers:

[code]

I'm closing this since its not a library-specific issue but a `UITabBarController` question.

[2020-11-15 13:52] #97 closed, assigned to nobody

[2020-11-28 12:01] wasp898 opened #98 "Problem with iPad in split screen"
I have adopted this amazing solution in my app since I think July. I forked the project so that I could try to fix the [black-screen-issue](https://github.com/marcosgriselli/SwipeableTabBarController/issues/52) (and actually never got to it in the end 😅).

Anyways, only now I noticed a big issue that affects iPads in split screen (or with the app in floating mode), which is that the swipe transiti

[2020-11-28 12:38] marcosgriselli commented on #98
@wasp898 I think that solution is perfect, maybe I'd use the `from` view since it is the one where the gesture takes place. Would you send a PR with the changes?

[2020-11-28 17:00] #98 closed, assigned to nobody

[2020-12-07 16:03] MaxHasADHD commented on #52
I'm seeing this issue or something very similar. In an app I work on some users are seeing it just by opening the app, tapping a tab item, then swiping. I've only been able to see it by swiping and tapping quickly though. The app appears frozen, but isn't actually paused. I was able to see that my breakpoint in `override func tabBar(_ tabBar: UITabBar, didSelect item: UITabBarItem) {` is still cal

[2020-12-10 00:49] wdurkee commented on #45
Hi even when I use selectedViewController my app crashes.

I get this when I try to set as detailed in the example in the repository
<img width="605" alt="Screen Shot 2020-12-09 at 3 48 07 PM" src="https://user-images.githubusercontent.com/14866674/101706628-5f870680-3a3e-11eb-9a4f-0d04edd98001.png">

When I comment it out I get this warning
<img width="594" alt="Screen Shot 2020-12-09 at 3 50 23

[2020-12-12 11:28] marcosgriselli commented on #45
@wdurkee it seems like you're getting an unrelated problem. The first screenshot mentions that the NIB is not loadable and the second one that you're passing an invalid attribute to the 'User Defined Runtime Attributes' inspector on Interface Builder. Can you share the code so I can point to a possible solution? `selectedViewController` and `selectedIndex` both should work programmatically as expe

[2020-12-30 04:10] jorgealegre commented on #52
Hello :D Is this still an issue? I couldn't reproduce running the sample app on an iOS 14.3 iPhone. If someone knows how to reproduce this and in what context (lib version, iOS version, etc.), I'd happily look into it.

[2021-01-03 21:28] marcosgriselli commented on #52
@jorgealegre is probably the only important issue the library always had. I recently refactor part of the transition code to use `UIViewPropertyAnimator` to enable interruptible animations since the black screen was caused by transitions being triggered before an old transition finished. Doing so reduced the number of times the black screen appears but a user reported that it still happened rarely

[2021-05-19 10:45] borut-t opened #102 "Compile issue"
Can you please prepare a new release from master since the latest 3.3.0 version doesn't include an updated package file. Therefore the project cannot be compiled.

[2021-05-19 12:08] marcosgriselli commented on #102
@borut-t thanks for reporting! I just created a new release [3.3.1](https://github.com/marcosgriselli/SwipeableTabBarController/releases/tag/3.3.1) with the updated `Package.swift` file

[2021-05-19 12:08] #102 closed, assigned to nobody

[2021-05-24 12:37] borut-t commented on #95
@JMCPH, @marcosgriselli maybe we should build upon that: https://github.com/marcosgriselli/SwipeableTabBarController/pull/103. And add new case `none` to "AllowedSwipeDirection" enum and just return false for that case inside `gestureRecognizerShouldBegin` method 🤷‍♂️

[2021-05-24 12:42] borut-t opened #104 "Flickering when starts swiping"
This doesn't happen all the time, but it's quite easy to reproduce. Just swipe slowly between pages/tabs and you'll notice flickering when swipe starts. It looks like smth is fighting between each other to get the correct position. I didn't test other transition types, but it's happening for `sideBySide` transition to me.

[2021-05-24 15:30] marcosgriselli commented on #95
@borut-t I don't see a benefit on adding a `none` swipe direction allowed since we already have a `isSwipeEnabled` property for the tabBarController. This was originally planned for view controllers with views that required horizontal swiping and covered the entire screen like a map view.

We can extend views to have a property (associated object) that determines if swiping is enabled for that spe

[2021-05-24 15:32] marcosgriselli commented on #104
@borut-t can you upload a video of the issue? Just so we can use it as a reference.

[2021-05-24 15:39] borut-t commented on #95
Yeah, my bad.

[2021-05-24 15:56] borut-t commented on #104
@marcosgriselli I've just tested with the default transition animator and it works. Looks like my custom animation has issues. Sorry for the trouble.

[2021-05-25 06:58] borut-t commented on #104
Actually, the problem persists and has nothing to do with the animator. You can check this out by changing line 61 in `SwipeTransitionAnimator`:

[code]
to
[code]

So I'm using spring animation instead, and that flickering becomes obvious.

[2021-05-25 08:31] borut-t commented on #104
I think this issue comes from the fact that you ignore the "began" phase of gesture recognizer.

[2021-05-25 23:06] marcosgriselli commented on #104
@borut-t thanks for reporting this. I can't really explain why it only happens when using a spring animation but the bug happens when we add the `toView` to the transition container. The `toView` is shown for a split second when is added to the stack but not yet placed correctly.

Since side by side views never overlap we can change the order in the `addTo(container...` method for side by side:

[

[2021-05-26 06:50] borut-t commented on #104
Thanks, @marcosgriselli. I don't have much time to play around with this but I've tried setting `toView.isHidden = true` before calling `addTo` and `toView.isHidden = false` after calling `prepare`. And it's also covered.
If you were able to fix and test this flickering with your fix, please prepare a PR.

[2021-05-27 08:49] borut-t commented on #104
@marcosgriselli hey! Is there any progress on that?

[2021-05-27 12:46] #104 closed, assigned to nobody

[2021-05-27 12:49] marcosgriselli commented on #104
@borut-t done! Check out version 3.4.1

[2021-06-03 19:58] aiartsev opened #106 "Can't Update with Carthage"
Your issue may already be reported!
Please search on the [issue track](https://github.com/marcosgriselli/SwipeableTabBarController/issues?utf8=✓&q=) before creating one.

## Expected Behavior
Being able to update with carthage using `carthage update --platform iOS`

## Current Behavior
As of versioon 3.3.1 onwards, I'm getting the error
`Dependency "SwipeableTabBarController" has no shared framewo

[2021-06-03 21:56] marcosgriselli commented on #106
@aiartsev thanks for reporting this. I changed the project structure to follow a more Swift Package Manager like approach and broke Carthage support by accident.. I'll review possible solutions and send a fix tomorrow.

[2021-06-24 12:35] #106 closed, assigned to nobody

[2021-06-24 12:35] marcosgriselli commented on #106
@aiartsev this should be fixed now `carthage update --platform iOS --use-xcframeworks` should work correctly.

[2021-07-17 01:38] BeingCode opened #109 "There is a gesture problem with the bottom Tabar when pushing to other pages and sliding back"
There is a gesture problem with the bottom Tabar when pushing to other pages and sliding back
Step 1: push to other pages
Step 2: slide gently and release
Problem: the tabbar at the bottom will be displayed

[2021-07-24 14:55] marcosgriselli commented on #109
Hi @BeingCode, sorry for the delay. Can you add a video of the issue so everyone that sees this knows exactly what the problem is? I'll be looking at it shortly.

[2021-10-16 15:21] recherst opened #110 "Is that right for case `.left` and `.right` condition are same?"
In `SwipeableTabBarController.swift` file
[code]

[2022-01-22 20:13] EssamSoft commented on #110
I think we should change this to

[code]

[2022-01-22 20:23] EssamSoft opened #111 "RTL Support ?"
I'm sorry to ask this feature
If anyone can support RTL I'll pay him to support open source

[2022-01-22 21:54] EssamSoft commented on #111
[I did] (https://github.com/marcosgriselli/SwipeableTabBarController/pull/112)

[2022-01-22 21:54] #111 closed, assigned to nobody

[2022-02-27 10:41] recherst commented on #110
OK, Thanks. :)

[2022-02-27 10:41] #110 closed, assigned to nobody

[2022-11-05 03:33] phonefixnicole opened #118 "that's really good"
Your issue may already be reported!
Please search on the [issue track](https://github.com/marcosgriselli/SwipeableTabBarController/issues?utf8=✓&q=) before creating one.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Environment

* SwipeableTabBarController version:
* Device and OS running tests:
* Demo project link: